*{
    margin: 0;
    padding: 0;
}
#h1
{
    font-size: 70px;
    color: aliceblue;
    text-shadow: 0 0 40px #00ffc3;
}
#h1:hover
{
    color: chartreuse;
    text-shadow: 0 0 40px #fbff00;
}

#chose
{
    font-size: 40px;
    color: aqua;
    text-shadow: 0 0 40px #604c8d;

}
body{
    background-color: #000;
    text-align: center;
}
.container
{
    height: 457px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: -56px;
}
.game
{
    height: 421px;
    width: 496px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
} 
.box
{
    text-align: center;
    height: 125px;
    width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9BC09C;
    border-radius: 28px;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
    font-size: 90px;
    color: #9106a1;
}
#reset
{
    padding: 1rem;
    font-size: 1.3rem;
    background-color: #191913;
    /* color: #fff; */
    border-radius: 1rem;
    border: none;
    margin-bottom: -56px;
    
    color: #00ffc3;
    box-shadow: 0 0 40px #00ffc3;
}
.msg
{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}
#msgP
{
    color: chartreuse;
    text-shadow: 0 0 40px #fbff00;
    font-size: 8vmin;
}
#newBtn
{
    padding: 1rem;
    font-size: 1.3rem;
    height: 100px;
    width: 160px;
    background-color: #191913;
    /* color: #fff; */
    border-radius: 1rem;
    border: none;
    
    color: #00ffc3;
    box-shadow: 0 0 40px #00ffc3;
}
.hide
{
    display: none;
}
.choice
{
    height: 200px;
    width: 500px;
    gap: 1.2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
}
#choose
{
    margin-top: 35px;
    color: aqua;

}
@keyframes blink 
{
    0%
    {
        background-color: #2E073F;
    }
    50%
    {
        background-color: #7A1CAC;
    }
    100%
    {
        background-color: #AD49E1;
    }
}
#x{
    height: 80px;
    width: 80px;
    background-color: violet;
    color: #ffdd00;    
    border: none;
    animation: blink 1.5s infinite;
    border-radius: 25px;
    box-shadow: 0 0 3rem rgba(238, 9, 215, 0.8);
    font-size: 50px;
}
#o{
    height: 80px;
    width: 80px;
    background-color: rgb(189, 255, 6);
    color: #ffdd00;    
    border: none;
    animation: blink 1.5s infinite;
    border-radius: 25px;
    box-shadow: 0 0 3rem rgba(238, 12, 240, 0.8);
    font-size: 50px;
}
#o:hover
{
    box-shadow: 0 0 3rem  rgb(0, 208, 255,0.8);
    animation: none;
    background-color:#191913;
    color: rgb(0, 208, 255);
}
#x:hover
{
    box-shadow: 0 0 3rem  rgb(0, 208, 255,0.8);
    animation: none;
    background-color:#191913;
    color: rgb(0, 208, 255);
}
.box:hover
{
    background-color: #05ce0c;
}
